Repository zakaryaxali/alili: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pytest

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd backend && uv run pytest tests/ -q'
  language: system
  pass_filenames: false

docs: add testing section and pytest to pre-commit hooks list
  CLAUDE.md
  README.md
Due: none

feat: add Docker deployment configuration with Caddy reverse proxy
  .env.example
  Caddyfile
  backend/.dockerignore
  backend/Dockerfile
  backend/app/main.py
  deploy.sh
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/ActiveSession.tsx
  frontend/src/services/api.ts
  frontend/src/services/websocket.ts
Due: eslint, pytest

fix: use bookworm base image with correct OpenGL packages
  backend/Dockerfile
Due: none

ci: add GitHub Actions workflow for testing and deployment
  .github/workflows/ci-cd.yml
Due: none

feat(frontend): add flowing gradient animation to background
  alili-logo.png
  frontend/src/App.css
Due: none

feat(frontend): add logo and favicon branding
  frontend/index.html
  frontend/public/favicon.png
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/alili-logo.png
Due: eslint

fix(frontend): prevent page scroll with box-sizing border-box
  frontend/src/App.css
Due: none

feat(frontend): improve mobile ActiveSession layout
  frontend/src/components/ActiveSession.css
  frontend/src/components/ActiveSession.tsx
  frontend/src/components/SessionControls.tsx
  frontend/src/index.css
Due: eslint

fix(frontend): improve mobile spacing and layout
  frontend/src/App.css
  frontend/src/components/BodyPartSelector.css
  frontend/src/components/SessionConfig.css
  frontend/src/components/SessionConfig.tsx
Due: eslint

refactor(frontend): split ActiveSession into mobile/desktop components
  frontend/src/components/ActiveSession.css
  frontend/src/components/ActiveSession/ActiveSession.shared.css
  frontend/src/components/ActiveSession/ActiveSession.tsx
  frontend/src/components/ActiveSession/ActiveSessionDesktop.css
  frontend/src/components/ActiveSession/ActiveSessionDesktop.tsx
  frontend/src/components/ActiveSession/ActiveSessionMobile.css
  frontend/src/components/ActiveSession/ActiveSessionMobile.tsx
  frontend/src/components/ActiveSession/index.ts
  frontend/src/hooks/useActiveSession.ts
Due: eslint

feat(frontend): add mobile pose reference overlay with logo animation
  frontend/src/components/ActiveSession/ActiveSessionMobile.css
  frontend/src/components/ActiveSession/ActiveSessionMobile.tsx
  frontend/src/hooks/useMobileViewToggle.ts
Due: eslint

feat(frontend): redesign desktop ActiveSession with immersive camera layout
  frontend/src/components/ActiveSession/ActiveSessionDesktop.css
  frontend/src/components/ActiveSession/ActiveSessionDesktop.tsx
Due: eslint

fix(frontend): make desktop camera fill container and align skeleton overlay
  frontend/src/components/ActiveSession/ActiveSessionDesktop.css
Due: none

docs: update documentation for ActiveSession refactor
  CLAUDE.md
  README.md
Due: none

chore: remove unused duplicate logo from root
  alili-logo.png
Due: none

chore: remove unused template files and orphaned component
  frontend/public/vite.svg
  frontend/src/assets/react.svg
  frontend/src/components/PoseInfoCard.tsx
Due: eslint

feat(frontend): add useOnboarding hook for persistence
  frontend/src/hooks/useOnboarding.ts
Due: eslint

feat(frontend): add Welcome screen for first-time users
  frontend/src/components/Welcome/Welcome.css
  frontend/src/components/Welcome/Welcome.tsx
Due: eslint

feat(frontend): add CameraSetup screen for onboarding
  frontend/src/components/CameraSetup/CameraSetup.css
  frontend/src/components/CameraSetup/CameraSetup.tsx
Due: eslint

feat(frontend): add interactive Tutorial for onboarding
  frontend/src/components/Tutorial/Tutorial.css
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

feat(frontend): add Settings modal and button
  frontend/src/components/Settings/Settings.css
  frontend/src/components/Settings/Settings.tsx
  frontend/src/components/Settings/SettingsButton.css
  frontend/src/components/Settings/SettingsButton.tsx
Due: eslint

feat(frontend): integrate onboarding flow into app
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SessionComplete.tsx
  frontend/src/types/session.ts
Due: eslint

fix(frontend): fix camera preview not displaying in CameraSetup
  frontend/src/components/CameraSetup/CameraSetup.css
  frontend/src/components/CameraSetup/CameraSetup.tsx
Due: eslint

feat(frontend): add useSpeech hook for text-to-speech
  frontend/src/hooks/useSpeech.ts
Due: eslint

feat(frontend): improve onboarding UX for distance viewing
  frontend/src/components/CameraSetup/CameraSetup.css
  frontend/src/components/CameraSetup/CameraSetup.tsx
  frontend/src/components/Tutorial/Tutorial.css
  frontend/src/components/Tutorial/Tutorial.tsx
  frontend/src/components/Welcome/Welcome.css
  frontend/src/components/Welcome/Welcome.tsx
Due: eslint

fix(frontend): fix status icon alignment in CameraSetup
  frontend/src/components/CameraSetup/CameraSetup.css
Due: none

feat(frontend): add auto-advance with position validation in CameraSetup
  frontend/src/components/CameraSetup/CameraSetup.css
  frontend/src/components/CameraSetup/CameraSetup.tsx
Due: eslint

fix(frontend): use getWsUrl() for auto-detecting backend URL in CameraSetup
  frontend/src/components/CameraSetup/CameraSetup.tsx
Due: eslint

fix(frontend): strip base64 prefix before sending video frames
  frontend/src/components/CameraSetup/CameraSetup.tsx
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

refactor(frontend): use PoseWebSocketService in CameraSetup and Tutorial
  frontend/src/components/CameraSetup/CameraSetup.tsx
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

feat(frontend): improve Tutorial UX with larger text and auto-advance
  frontend/src/components/Tutorial/Tutorial.css
  frontend/src/components/Tutorial/Tutorial.tsx
  frontend/src/components/Welcome/Welcome.tsx
  frontend/src/hooks/useSpeech.ts
Due: eslint

feat(frontend): play welcome audio on Get Started click
  frontend/src/components/Welcome/Welcome.tsx
Due: eslint

feat(frontend): auto-advance to practice mode after Tutorial step 4
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

fix(frontend): fix Tutorial practice mode layout by overriding inherited flex properties
  frontend/src/components/Tutorial/Tutorial.css
Due: none

feat(frontend): refactor Tutorial practice mode to fullscreen layout
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

fix(frontend): start frame capture after camera is ready in Tutorial
  frontend/src/components/Tutorial/Tutorial.tsx
Due: eslint

fix(frontend): announce next pose when transition screen starts
  frontend/src/hooks/useActiveSession.ts
Due: eslint

fix(backend): correct Easy Seat pose reference angles
  backend/app/pose_recognition.py
Due: pytest

feat: add orientation-aware pose scoring
  backend/app/pose_analysis.py
  backend/app/pose_recognition.py
  backend/app/websocket.py
  backend/tests/test_pose_recognition.py
  frontend/src/components/ActiveSession/ActiveSessionDesktop.tsx
  frontend/src/components/ActiveSession/ActiveSessionMobile.tsx
  frontend/src/components/PoseFeedback.css
  frontend/src/components/PoseFeedback.tsx
  frontend/src/components/Tutorial/Tutorial.tsx
  frontend/src/hooks/useActiveSession.ts
  frontend/src/types/pose.ts
Due: eslint, pytest

feat(frontend): add OrientationBadge to show required pose orientation
  frontend/src/components/ActiveSession/ActiveSessionDesktop.css
  frontend/src/components/ActiveSession/ActiveSessionDesktop.tsx
  frontend/src/components/ActiveSession/ActiveSessionMobile.css
  frontend/src/components/ActiveSession/ActiveSessionMobile.tsx
  frontend/src/components/OrientationBadge.css
  frontend/src/components/OrientationBadge.tsx
  frontend/src/components/PoseFeedback.tsx
  frontend/src/components/Tutorial/Tutorial.css
  frontend/src/components/Tutorial/Tutorial.tsx
  frontend/src/utils/poseOrientations.ts
Due: eslint

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
